@font-face {
    font-family: PFDinTextCondPro;
    src: url(font/pfdintextcondpro-regular.ttf);
}
* {
	font-family: PFDinTextCondPro;
}
html, body {
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
}
a {
	display: inline-block;
}
.container {
	width: 100%;
	margin: 0 auto;
}
#page-wrapper {
	// margin-top: 100px;
}

/*PRIMARY-MENU*/

#primary-menu {
	background: #FF8400;
	height: 50px;
}
#primary-menu > ul {
	padding: 0;
	margin: 0;
	font-size: 0;
	text-align: center;
}
#primary-menu > ul > li {
	display: inline-block;
	list-style: none;
	font-size: 22px;
}
#primary-menu > ul > li a {
	color: #fff;
	text-decoration: none;
	height:50px;
	line-height: 50px;
	padding: 0 15px;
	mar

}
#primary-menu > ul > li a:hover {
	background-color: #fff;
	color: #333;
}

/*LOGO, ADRESS, NUMBER*/
#logo, #adress, #number {
	display: inline-block;
	padding: 25px;
	width: 18%;
}
#logo_information {
	text-align: center;
}
#call {
	background: #FF8400;
	height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 50px;
}
#number {
	color: #fff;
	font-size: 22px;

}
#number p {
	color: #000000;
	font-size: 30px;
}
#slider {
	background-image: url(images/slider.png);
	text-align: center;
}
#form_background {
	margin-top: -188px;
    margin-bottom: 50px;
}
#form {
	margin-top: -206px;
}
#slider_h2 {
	color: #000000;
    font-size: 26px;
    font-weight: 400;
    margin-left: 23px;
    font-family: PFDinTextCondPro;
}
#slider_p {
	margin-left: -44px;
    margin-top: -8px;
}
#order {
	color: #FFFFFF;
	text-align: right;
	margin-right: 539px;
    margin-top: 27px;
}
#order_a {
	color: #FFFFFF;
	font-family: PFDinTextCondPro;
}
.form {
	padding: 5px;
    padding-right: 4px;
    margin-right: -1px;
    font-size: 17px;
}
#form_submit {
	background-color: #FF8400;
	font-weight: bold;
}
#content_left {
	width: 50%;
    margin-left: -27px;
    padding-top: 19px;
}
.content_left_img {
	float: right;
	margin-left: 10px;
	padding-bottom: 36px;
}
.content_right_text {
	float: right;
    text-align: left;
    margin: 13px;
    margin-top: -12px;
    line-height: 33px;
}
.strong {
	font-weight: bold;
	font-size: 22px;
}
.button_a {
	background: #FF8400;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding: 0px 15px;
    color: white;
    font-size: 22px;
}
.button_a a:hover {
	background-color: #fff;
	color: #333;
}
.button_a_red {
	background: #ff4e00;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding: 0px 15px;
    color: white;
    font-size: 22px;
}